@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Shade&family=Poppins:wght@600&family=Press+Start+2P&family=Salsa&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Genava, Tahoma, sans-serif;
    --fonte2: 'Salsa', cursive;
    --fonte3: "Bebas Neue", sans-serif; 
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: rgb(18, 14, 32);
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte3);
    font-size: 12vh;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 3em;
    padding-left: 30px;
    font-family: var(--fonte2);
    font-size: 2.5vh;
}

section > p {
    padding-bottom: 2em;
}

section#img01 {
    background-image: url('/imagens/background1.jpeg');
    background-position: right center;
}


section#img02 {
    background-image: url('/imagens/background2.jpeg');
}

section.imagem > p {
    display: inline;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 2px 2px 0px black;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(59, 59, 61);
    color: white;
    box-shadow: inset 4px 4px 8px 0px rgba(0, 0, 0, 0.377);
    background-size: cover;
    background-attachment: fixed;
}

footer {
    background-color: rgb(18, 14, 32);
    color: white;
    text-align: center;
    padding: 10px;
}
